export TWILIO_ACCOUNT_SID='TWILIO_ACCOUNT_SID_HERE'
export TWILIO_AUTH_TOKEN='TWILIO_AUTH_TOKEN_HERE'

#Sets up environment variables. To use, must have the auth token and account SID and remove '.example' from the file extension